@font-face {
    font-family: 'Slasher';
    src: url(../../Utilities/slasherfilm.ttf);
}

html body {
    background-color: #212121;
}

.home-container {
    padding: 0 25px 15px 25px;
}

.nav-container {
    height: 120px;
    margin: 25px 10px;
    padding: 0 30px;
    border: 1.5px solid #a0a0a0;
    border-radius: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.page-title {
    font-family: 'Slasher';
    font-size: 55px;
    color: antiquewhite;
    letter-spacing: 6px;
}

.create-title {
    text-decoration: none;
}

.button-create {
    position: relative;
    font-family: 'Slasher', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: 6px;
    color: #a0a0a0;
} 

.button-create:hover {
    color: #fff;
}


.button-create:after {
    content: "";
    position: absolute;
    background-color: rgb(185, 93, 31);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.button-create:hover:after {
    width: 75%;
}


.cards-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 30px
}

.loading {
    position: absolute;
    right: 40%;
    bottom: 10%;
}

.load-title {
    font-family: 'Slasher';
    font-size: 50px;
    color: #a0a0a0;
    letter-spacing: 6px;
}

.filters-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    margin: 10px 45px;
    height: 35px;
}

.filter-box {
    background: none;
    border: 1px solid rgb(185, 93, 31);
    border-radius:  5px;
    color: #a0a0a0;
    outline: none;
    font-family: 'Slasher';
    font-size: 25px;
    letter-spacing: 6px;
    padding: 5px;
}

.filter-box:hover {
    color: #fff;
    background: none;
}

.filter-box:hover option {
    color: #212121;
    background: none;
}








