.paginado {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    width: 60%;
    margin: 30px;
}

.paginado-container{
    display: flex;
    justify-content: center;
}

.number-li {
    position: relative;
    cursor: pointer;
    list-style: none;
    height: 45px;
    font-size: 1.5rem;
}

.number-li:hover {
    color: #a0a0a0;
}

.number-li:after {
    content: "";
    position: absolute;
    background-color: rgb(185, 93, 31);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 3px;
    transition: 0.3s;
}

.number-li:hover:after {
    width: 100%;
}

.current {
    color: #a0a0a0;
}